{
  "bookings": {
    "live": true
  },
  "gsp": {
    "live": true
  },
  "mycal": {
    "live": true
  },
  "web": {
    "live": true
  },
  "sig-status": {
    "live": true
  },
  "golf-serie": {
    "live": true
  },
  "golf-improver": {
    "live": true
  },
  "sig-web3": {
    "live": true
  }
}
